body {
    background-color: #D9D0BB;
    border-top: 20px solid #564787;
    margin: 0;
    padding: 0 15%;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 40vw;
}

h1 {
    color: #894E3A;
    font-size: 4em;
    margin-bottom: 0px;
    margin-left: 5vw;
}

h2 {
    margin-top: 8vh;
    padding-bottom: -20px;
    margin-left: 5vw;
}

p {
    line-height: 1.4em;
}

ul {
    font-size: 26px;
    line-height: 2em;
    margin-left: 5vw;
}

hr {
    margin-left: -10%;
    margin-right: -10%;
    color: #894E3A;
    height: 2px;
}